<div class="row">
  <div class="col-sm-7">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :title %>
    <%= f.input :phone %>
    <%= f.input :email, required: true %>
    <% if user.new_record? %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, required: true %>
    <% end %>
  </div>

  <div class="col-sm-5">
    <%= f.input :avatar, label: 'Profile picture' do %>
      <% if user.avatar? %>
        <p class="image">
          <%= image_tag user.avatar.url(:small) %>
        </p>
      <% end %>

      <%= f.file_field :avatar %>
    <% end %>

    <%= f.input :broker_logo do %>
      <% if user.broker_logo? %>
        <p>
          <%= image_tag user.broker_logo.url(:small) %>
        </p>
      <% end %>

      <%= f.file_field :broker_logo %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= f.input :biography, input_html: { rows: 8 } %>
  </div>
</div>

<%= f.submit 'SUBMIT', class: 'btn btn-primary btn-block btn-big' %>
