<div class="col-sm-4 video">
  <%= link_to video do %>
    <%= image_tag video.thumbnail_url, class: 'img-responsive center-block' %>
  <% end %>

  <div class="info">
    <div class="video-title"><%= video.title %></div>
    <div class="location"><%= video.location %></div>

    <div class="links">
      <%= link_to '#' , class: 'icon-button' do %>
        <i class="fa fa-download"></i>
      <% end %>

      <%= link_to video , class: 'icon-button' do %>
        <i class="fa fa-external-link"></i>
      <% end %>

      <% if video.user_id == current_user.id %>
        <%= link_to 'EDIT', '#', class: 'edit-button' %>
      <% end %>
    </div>
  </div>
</div>
