<div class="row">
  <div class="col-sm-4">
    <% if @user.avatar? %>
      <%= image_tag @user.avatar.url(:large), class: 'img-responsive center-block' %>
    <% else %>
      DEFAULT USER AVATAR
    <% end %>
  </div>

  <div class="col-sm-4">
    <h3><%= @user.full_name %></h3>
    <strong>Contact: <%= @user.phone.try(:phony_formatted, format: :national) %></strong>
    <br>
    <strong>BRE Number: </strong>

    <p>
      <%= simple_format @user.biography %>
    </p>
  </div>

  <div class="col-sm-4">
    <% if policy(@user).update? %>
      <p>
        <%= link_to edit_profile_path, class: 'btn btn-primary' do %>
          <i class="fa fa-pencil-square-o"></i>
          EDIT PROFILE
        <% end %>
      </p>

      <p>
        <%= link_to new_video_path, class: 'btn btn-primary' do %>
          <i class="fa fa-film"></i>
          GENERATE VIDEO
        <% end %>
      </p>
    <% end %>
  </div>
</div>

<div class="profile-videos">
  <% if @user == current_user %>
    <div class="row flex-row">
      <div class="col-sm-4 video generate-video-wrapper">
        <div class="generate-video">
          <div>
            <%= link_to new_video_path do %>
              <i class="fa fa-plus-circle fa-5x"></i>
            <% end %>
          </div>

          <%= link_to 'GENERATE VIDEO', new_video_path, class: 'btn btn-primary' %>
        </div>
      </div>

      <% @user.videos.first(2).each do |video| %>
        <%= render 'video', video: video %>
      <% end %>
    </div>

    <% @user.videos.drop(2).in_groups_of(3, false) do |video_group| %>
      <%= render 'videos_row', videos: video_group %>
    <% end %>
  <% else %>
    <% @user.videos.in_groups_of(3, false) do |video_group| %>
      <%= render 'videos_row', videos: video_group %>
    <% end %>
  <% end %>
</div>
