<div id="nav">
  <ul class="">
    <%= link_to root_path, :class => "nav-logo" do%>
      <%= image_tag("ht-logo.png", class: "ht-logo-mark") %>
    <% end %>
    <% if user_signed_in? %>
      <li>
        <%= link_to current_profile_path, class: "navlink-style" do%>
            <%= image_tag @video.user.avatar.url(:thumb), class: "profile-image-nav" %>
            <div>Profile</div>
        <% end %>
      </li>
      <li>
        <%= link_to 'CREATE', new_video_path, class: "navlink-style" %>
      </li>
    <% else %>
      <li>
        <%= link_to 'LOGIN', new_user_session_path, class: "navlink-style" %>
      </li>
      <li>
        <%= link_to 'REGISTER', new_user_registration_path, class: "navlink-style" %>
      </li>
    <% end %>
    <li>
      <%= link_to 'CONTACT', '#', class: "navlink-style" %>
    </li>
    <li>
      <%= link_to 'SHARE', '#', class: "navlink-style" %>
    </li>
    <% if user_signed_in? %>
      <li>
        <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class: "navlink-style" %>
      </li>
    <% end %>
  </ul>
</div>