<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for?(:title) ? content_for(:title) : 'HouzTrendz' %></title>
  <%= yield(:prepend_head) %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>

  <!-- Typekit Fonts -->
  <script type="text/javascript" src="//use.typekit.net/rth8pka.js"></script>
  <script type="text/javascript">try {
    Typekit.load();
  } catch (e) {
  }</script>

</head>
<body>
  <div id="nav">
    <ul class="">
      <%= link_to root_path, :class => "nav-logo" do%>
        <%= image_tag("ht-logo.png", class: "ht-logo-mark") %>
      <% end %>
      <% if user_signed_in? %>
        <li>
          <%= link_to current_profile_path, class: "navlink-style" do%>
              <%#= image_tag @video.user.avatar.url(:thumb), class: "profile-image-nav" %>
              <div>PROFILE</div>
          <% end %>
        </li>
        <li>
          <%= link_to 'CREATE', new_video_path, class: "navlink-style" %>
        </li>
      <% else %>
        <li>
          <%= link_to 'LOGIN', new_user_session_path, class: "navlink-style" %>
        </li>
        <li>
          <%= link_to 'REGISTER', new_user_registration_path, class: "navlink-style" %>
        </li>
      <% end %>
      <li>
        <%= link_to 'CONTACT', '#', class: "navlink-style" %>
      </li>
      <li>
        <%= link_to 'SHARE', '#', class: "navlink-style" %>
      </li>
      <% if user_signed_in? %>
        <li>
          <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class: "navlink-style" %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="left-pad">
    <div class="container main">
      <%= render 'layouts/flash_messages' %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </div>
  <%= insert_paloma_hook %>
</body>
</html>
