<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for?(:title) ? content_for(:title) : 'HouzTrendz' %></title>
  <%= yield(:prepend_head) %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="sidebar">
  <ul class="nav nav-sidebar">
    <li>
      <%= link_to 'HouzTrendz', root_path %>
    </li>
    <% if user_signed_in? %>
      <li>
        <%= link_to 'PROFILE', current_profile_path %>
      </li>
      <li>
        <%= link_to 'CREATE', new_video_path %>
      </li>
      <li>
        <%= link_to 'EMAILING LIST', clients_path %>
      </li>
      <li>
        <%= link_to 'ACTIVITY', activities_path %>
      </li> 
      <li>
        <%= link_to 'EMAIL REPORT', reports_path %> 
      </li>   
    <% else %>
      <li>
        <%= link_to 'LOGIN', new_user_session_path %>
      </li>
      <li>
        <%= link_to 'REGISTER', new_user_registration_path %>
      </li>
      
    <% end %>
    <li>
      <%= link_to 'CONTACT', '#' %>
    </li>
    <li>
      <%= link_to 'SHARE', '#' %>
    </li>
    <% if user_signed_in? %>
      <li>
        <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %>
      </li>
    <% end %>
  </ul>
</div>

<div class="container-fluid main">
  <%= render 'layouts/flash_messages' %>
  <%= content_for?(:content) ? yield(:content) : yield %>
</div>
<%= insert_paloma_hook %>
</body>
</html>
